# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


src/PaperForm.js
src/Members.js
src/MemberCard.js 
src/News.js 
src/NewsCard.js 
src/Sponsors.js 
src/SponsorCard.js 
src/Research.js 
src/ResearchCard.js
src/SectionToggleConference_many_options.js
 
src/data/MemberData.js 
src/data/NewsData.js 
src/data/ResearchData.js 
src/data/SponsorData.js

